/* .banner {
	background: url(src/assets/img/pattern.svg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
} */





/*  */
.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #ff0000;
	border-radius: 30px;
	background-color: #ff3b3b;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #000000; 
	text-decoration: none;
}



.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #6f00ff;
	border-radius: 30px;
	background-color: transparent;
	color: #000000;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #8c00ff;
	color: #ffffff;
	text-decoration: none;
}

.btn-solid-lg,
 .btn-outline-lg {
	margin-right: 0.25rem;
	margin-bottom: 1.25rem;
	margin-left: 0.25rem;
}

/*  */